{% extends 'index.html' %}

{% load i18n %}

{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded" id="cont_form">
                    <p>{{ contacts.title|safe }}</p>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Sunday' %}
                            <span class="ms-auto">{{ contacts.open_hours_sunday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Monday' %}
                            <span class="ms-auto">{{ contacts.open_hours_monday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Tuesday' %}
                            <span class="ms-auto">{{ contacts.open_hours_tuesday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Wednesday' %}
                            <span class="ms-auto">{{ contacts.open_hours_wednesday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Thursday' %}
                            <span class="ms-auto">{{ contacts.open_hours_thursday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Friday' %}
                            <span class="ms-auto">{{ contacts.open_hours_friday }}</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            {% trans 'Saturday' %}
                            <span class="ms-auto">{{ contacts.open_hours_saturday }}</span>
                        </li>
                    </ul>
                    <p>{{ contacts.address|safe }}</p>
                    <p>{{ contacts.tel|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
