{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src={{ home.intro_photo.url }} alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <p>{{ home.intro_message_1|safe }}</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/contacts/#cont_form">{% trans 'Visit Us Today!' %}</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
{#                    <h2 class="section-heading mb-4">#}
{#                        <span class="section-heading-upper">Our Promise</span>#}
{#                        <span class="section-heading-lower">To You</span>#}
{#                    </h2>#}
                    <p class="mb-0">{{ home.intro_message_2|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}